html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
    margin: 0;
}

/*Styling for navbar */

ul{
    list-style: none;
}
a,button{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}
#navbar{
    border-bottom: 1px solid black;
    padding:3rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand{
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
#navbar ul{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}
.nav-item{
    margin-right: 50px;
    font-weight: 200;
}
.underline{
    position: relative;
  }
  
  .underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
.underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
button{
    font-size: 1.3rem;
    font-weight: 200;
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
    background: #ffffff;
    border: solid #d147ac 2px;
    text-align: center;
    cursor: pointer;
}

button:hover{
     box-shadow: 0 0 11px rgba(33,33,33,.2); 
     background:linear-gradient(45deg , rgba(244, 196, 243, 0.5),rgba(252, 103, 250, 0.5));
}

/*Navbar Completed*/
